{% extends 'layout.html' %}
{% block content %}
<article class="media content-section">
    <div class="row align-items-start">
        <div class="col-md-2 text-center align-self-start"> <!-- Adjust column size and alignment -->
            <img class="rounded-circle article-img"
                src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
                style="width: 100px; height: 100px; margin-top: 5px;">
            <!-- Set equal width and height and add margin-top -->
        </div>
        <div class="col-md-10">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('user_post', username=post.author.username) }} ">{{
                        post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    {% if post.author == current_user %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1"
                            href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
                        <button type="button" class="btn btn-danger btn-xs m-1" data-bs-toggle="modal"
                            data-bs-target="#deleteModal">DELETE</button>
                    </div>
                    {% endif %}
                </div>
                <h2 class="article-title">{{ post.title }}</h2>
                <p class="article-content" style="max-width: 100%; overflow-wrap: break-word;">{{ post.content }}</p>
            </div>
        </div>
        <div>
            <div>
                {% if post.comments %}
                <h3>Comments:</h3>
                {% endif %}
                {% for comment in post.comments %}
                <div class="row align-items-start"> <!-- Added align-items-start -->
                    <div class="col-md-8"> <!-- Adjusted column width -->
                        <div>
                            <a href="/user/{{comment.author.username}}">{{comment.author.username}}:</a>
                            {{comment.content}}
                        </div>
                    </div>
                    <div class="col-md-4"> <!-- Adjusted column width -->
                        <div class="d-flex justify-content-end"> <!-- Added justify-content-end -->
                            <small class="text-muted">{{ comment.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                            {% if user.is_authenticated %}
                            {% if user.id == comment.user_id or user.id == post.user_id %}
                            <div class="btn-group ms-2"> <!-- Added ms-2 -->
                                <button type="button" class="btn btn-xs btn-primary dropdown-toggle"
                                    data-bs-toggle="dropdown"></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/delete-comment/{{ comment.id }}" class="dropdown-item">Delete</a>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</article>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
<form class="input-group mb-3" method="POST" action="/create-comment/{{post.id}}">
    <input type="text" id="text" name="text" class="form-control" placeholder="Comment something!" />
    <button type="submit" class="btn btn-primary">Comment</button>
</form>
{% endblock content %}